anyascii==0.1.7
asgiref==3.3.1
beautifulsoup4==4.8.2
boto3==1.17.40
botocore==1.20.40
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
crc16==0.1.1
cryptography==3.4.6
da-vinci==0.3.0
defusedxml==0.7.1
Django==3.1.7
django-allauth==0.44.0
django-countries==7.1
django-filter==2.4.0
django-modelcluster==5.1
django-storages==1.11.1
django-taggit==1.3.0
django-thumbnails==0.4.0
django-treebeard==4.5.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
draftjs-exporter==2.1.7
et-xmlfile==1.0.1
html5lib==1.1
idna==2.10
jmespath==0.10.0
l18n==2020.6.1
oauthlib==3.1.0
openpyxl==3.0.7
Pillow==8.1.2
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.0.1
python-dateutil==2.8.1
python-redis==0.2.2
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.3.6
shortuuid==1.0.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
tablib==3.0.0
urllib3==1.26.3
wagtail==2.12.3
webencodings==0.5.1
Willow==1.4
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
django-active-link
