{% extends 'account/base_card.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block extra_css %}
<link href="/vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
{% endblock %}

{% block extra_js %}
<script src="/assets/js/flatpickr.js"></script>
{% endblock %}

{% block card-body %}

<h3>{% trans "Sign Up" %}</h3>
<p>... OR, if you already have an account, please log in <a href="/accounts/login" style="text-decoration: underline">here</a></p>
<br>

<form method="POST" action="{% url 'account_signup' %}" class="needs-validation row g-3" novalidate>
    {% csrf_token %}
        <div class="row">
           <div class="col-lg-6 col-md-12">
               {{ form.first_name | as_crispy_field }}
           </div>
           <div class="col-lg-6 col-md-12">
               {{ form.last_name | as_crispy_field }}
           </div>

        </div>
        <div class="row">
           <div class="col-lg-6 col-md-12">
               {{ form.email | as_crispy_field }}
           </div>
           <div class="col-lg-6 col-md-12">
               {{ form.password1 | as_crispy_field }}
           </div>
        </div>
        <div class="row  align-items-end">
           <div class="col-lg-12 col-md-12">
              <h4 style="margin-top:20px;">Internet/Social Media (optional)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-6 col-md-12">
               {{ form.website | as_crispy_field }}
           </div>
           <div class="col-lg-6 col-md-12">
               {{ form.facebook | as_crispy_field }}
           </div>
        </div>
        <div class="row">
           <div class="col-lg-6 col-md-12">
               {{ form.instagram | as_crispy_field }}
           </div>
           <div class="col-lg-6 col-md-12">
               {{ form.twitter | as_crispy_field }}
           </div>
        </div>


    <button type="submit" class="btn btn-outline-primary mt-4 w-50 mx-auto" id="signupbutton">{% trans "Sign Up" %}</button>
</form>


{% endblock %}

{% block card-footer %}
<p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></p>
{% endblock %}
