{% extends 'account/base_card.html' %}

{% load i18n socialaccount %}

{% block title %}{% trans "Update account" %}{% endblock %}



{% block card-body %}

    {% get_providers as socialaccount_providers %}
    <h3>{% trans "Update account" %}</h3>

    <form method="POST" action="{% url 'account_update' request.user.pk %}" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.website %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.facebook %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.twitter %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">
                {% with field=form.instagram %}{% include "account/form_field.html" %}{% endwith %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {% with field=form.country %}{% include "account/form_field.html" %}{% endwith %}
            </div>
            <div class="form-group col-md-6">

            </div>
        </div>
<br>
        <button type="submit" class="btn btn-outline-primary">{% trans "Update" %}</button>
    </form>

{% endblock %}
