@font-face {
    font-family: 'Grota Sans Alt Rd';
    src: url('/static/fonts/GrotaSansAltRd-Medium.woff2') format('woff2'),
        url('/static/fonts/GrotaSansAltRd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grota Sans Alt Rd Semi';
    src: url('/static/fonts/GrotaSansAltRd-SemiBold.woff2') format('woff2'),
        url('/static/fonts/GrotaSansAltRd-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grota Sans Alt Rd';
    src: url('/static/fonts/GrotaSansAltRd-Bold.woff2') format('woff2'),
        url('/static/fonts/GrotaSansAltRd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#top-menu {
    height: 50px;
    float: left;
    padding-left: 40px;
}
#top-menu li {
    display: block;
    font-size: 20px;
    padding-right: 22px;
}
#et-secondary-menu li, #top-menu li {
    word-wrap: break-word;
}
.nav li {
    position: relative;
    line-height: 1em;
}
#top-menu {
    color: #345f22;
}

#top-menu a {
    font-family: 'Grota Sans Alt Rd',arial,sans-serif !important;
    font-weight: bold !important;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    display: block;
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
