{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load active_link_tags %}
{% load filter_extras %}
{% block extra_menu_item %}
{% if ENTRIES_CLOSED %}
<li class="nav-item"><a class="nav-link {% active_link 'secondround' %}" href="/secondround">
    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">RAW Verficiation</span>
    </div>
  </a>
</li>
{% endif %}
{% endblock %}


{% block extra_css %}
<style>
ul.hozlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hozlist li {
  float: left;
}

.hozlist li a {
  display: block;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}
</style>
{% endblock %}
{% block extra_js %}


{% endblock %}

{% block content %}


<div class="card">
  <div class="card-body position-relative">
    {% if messages %}
    <div>

      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      {% endfor %}
    </div>
    {% endif %}

   <ul class="hozlist">
        <li><a href="?year=2021">2021</a></li>
        <li><a href="?year=2022">2022</a></li>
    </ul>

    <h2>View {{view_year}} Entries</h2>

    <div class="card-body p-0 overflow-hidden">
      <div class="row g-0">

        <h3>Entries</h3>

        <p>You had no entries for this year</p>



</div>
</div>
</div>

  </div>








{% endblock %}
