{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load active_link_tags %}
{% block extra_menu_item %}
{% if ENTRIES_CLOSED %}
<li class="nav-item"><a class="nav-link {% active_link 'secondround' %}" href="/secondround">
    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">RAW Verficiation</span>
    </div>
  </a>
</li>
{% endif %}
{% endblock %}


{% block content %}



<div class="card">
  <div class="card-body position-relative">
    {% if messages %}
    <div>

      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      {% endfor %}
    </div>
    {% endif %}
 <h2>Projects</h2>

<p>You can upload/replace images up until the 31st August. You do not need to upload all your entries at once. Files will be automatically renamed for anonymity after final submission. Individual image titles are not required. Use the update button to store any changes. Projects must have a minimum of 6 images and a maximum of 10.</p>
<p>Project descriptions should concisely explain the project’s intentions (150 words max).</p>
<p>If you're having trouble uploading all the images at once, please try one at a time</p>
<p>Check the <a href="https://naturallandscapeawards.com/submissions/">Submission Requirements</a> and <a href="https://naturallandscapeawards.com/rules/">Rules</a>.</p>
{% load filter_extras %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>


{% if payment_plan_portfolios > 0 %}
 <h3>Project One</h3>

<form action="/portfolios/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ description_form1|crispy }}
    <input type="hidden" name="description1" value="true" />
    <input type="submit" value="Save Description" class="btn btn-outline-primary btn-lg mt-3">
</form>
<h4 class="mt-3">Project Images</h4>

<form action="/portfolios/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ portfolio1.management_form }}
    {{ portfolio1.non_form_errors.as_ul }}



<div class="card-body p-0 overflow-hidden">
  <div class="row g-0">
    {% for form in portfolio1.forms %}

    {% for field in form.visible_fields %}

      {# Include the hidden fields in the form #}
      {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

    <div class="col-12 p-card{% cycle '' ' bg-100' %}">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <div class="position-relative h-sm-100">



            {% if form.photo.value == 'entries/default-entry.png' %}
            <a class="d-block h-100" href="#">
              <img class="img-fluid fit-cover w-sm-75 h-sm-75rounded-1 absolute-sm-centered" src="https://nlpa-website-bucket.s3.amazonaws.com/entries/default-entry.png" alt="" />
            </a>
            {% else %}
            <a class="d-block h-100" href="https://r8a7z2p5.stackpathcdn.com/{{ form.photo.value }}">
              <img class="img-fluid  absolute-sm-centered" src="https://r8a7z2p5.stackpathcdn.com/{{ form.photo.value }}" alt="" />
            </a>
            {% endif %}




          </div>
        </div>
        <div class="col-sm-7 col-md-8">
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-between flex-column">


{% if form.photo.value == 'entries/default-entry.png' %}
<h5 class="mt-3 mt-sm-0">Project One / Image {{forloop.parentloop.counter}}</h5> <em class="text-muted">{{form.filename.value|limit_length_tooltip}}</em>
  <span>&nbsp;</span>
  <span>&nbsp;</span>

{% else %}
<h5 class="mt-3 mt-sm-0">Project One / Image {{forloop.parentloop.counter}}</h5><em class="text-muted"><span style="display:inline-block;width: 100px; font-style: normal" class="font-weight-bold font-weight-normal">Filename:</span> {{form.filename.value|limit_length_tooltip}}</em>

  <span><span style="display:inline-block;width: 100px" class="font-weight-bold">Dimensions:</span> {{form.photo_dimensions.value}} {{ form.photo_dimensions.value|is_big_enough }}</span>
  <span><span style="display:inline-block;width: 100px;" class="font-weight-bold">Filesize:</span> {{form.photo_size.value|filesizeformat}} </span>


  {% endif %}
  <div class="my-2">
  {% else %}
  {% endif %}

    {{ field | as_crispy_field }}
<span style="display:block; margin-bottom:0.8rem"></span>
  {% if forloop.last %}
     </div>
  {% endif %}

{% endfor %}


            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <input type="hidden" name="portfolio1" value="true" />
    <input type="submit" value="Update" class="btn btn-outline-primary btn-lg mt-3">
  </div>
</div>
</form>




{% endif %}
{% if payment_plan_portfolios > 1 %}
 <h3 class="mt-5">Projecet Two</h3>

 <form action="/portfolios/" method="post" enctype="multipart/form-data" style="display:block;">
     {% csrf_token %}
     {{ description_form2|crispy }}
     <input type="hidden" name="description2" value="true" />
     <input type="submit" value="Save Description" class="btn btn-outline-primary btn-lg mt-3">
 </form>
 <h4 class="mt-3">Project Images</h4>

<form action="/portfolios/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ portfolio2.management_form }}
    {{ portfolio2.non_form_errors.as_ul }}



<div class="card-body p-0 overflow-hidden">
  <div class="row g-0">
    {% for form in portfolio2.forms %}

    {% for field in form.visible_fields %}

      {# Include the hidden fields in the form #}
      {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

    <div class="col-12 p-card{% cycle '' ' bg-100' %}">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <div class="position-relative h-sm-100">



            {% if form.photo.value == 'entries/default-entry.png' %}
            <a class="d-block h-100" href="#">
              <img class="img-fluid fit-cover w-sm-75 h-sm-75rounded-1 absolute-sm-centered" src="https://nlpa-website-bucket.s3.amazonaws.com/entries/default-entry.png" alt="" />
            </a>
            {% else %}
            <a class="d-block h-100" href="https://r8a7z2p5.stackpathcdn.com/{{ form.photo.value }}">
              <img class="img-fluid  absolute-sm-centered" src="https://r8a7z2p5.stackpathcdn.com/{{ form.photo.value }}" alt="" />
            </a>
            {% endif %}




          </div>
        </div>
        <div class="col-sm-7 col-md-8">
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-between flex-column">


{% if form.photo.value == 'entries/default-entry.png' %}
<h5 class="mt-3 mt-sm-0">Project Two / Image {{forloop.parentloop.counter}}</h5><em class="text-muted">{{form.filename.value|limit_length_tooltip}}</em>
  <span>&nbsp;</span>
  <span>&nbsp;</span>

{% else %}
<h5 class="mt-3 mt-sm-0">Project Two / Image {{forloop.parentloop.counter}}</h5><em class="text-muted"><span style="display:inline-block;width: 100px; font-style: normal" class="font-weight-bold font-weight-normal">Filename:</span> {{form.filename.value|limit_length_tooltip}}</em>

  <span><span style="display:inline-block;width: 100px" class="font-weight-bold">Dimensions:</span> {{form.photo_dimensions.value}} {{ form.photo_dimensions.value|is_big_enough }}</span>
  <span><span style="display:inline-block;width: 100px;" class="font-weight-bold">Filesize:</span> {{form.photo_size.value|filesizeformat}} </span>


  {% endif %}
  <div class="my-2">
  {% else %}
  {% endif %}

    {{ field | as_crispy_field }}
<span style="display:block; margin-bottom:0.8rem"></span>
  {% if forloop.last %}
     </div>
  {% endif %}
{% endfor %}


            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <input type="hidden" name="portfolio2" value="true" />
    <input type="submit" value="Update" class="btn btn-outline-primary btn-lg mt-3">
    <p class="fs--1 text-center">Pressing UPDATE ensures we have the latest version of your files, there is no SUBMIT button</p>
  </div>
</div>
</form>
{% endif %}


</div>
</div>







{% endblock %}
