{% extends 'base.html' %}
{% load static %}

{% block content %}



      <div class="card overflow-hidden mb-3">
        <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../assets/img/illustrations/corner-4.png);">
        </div>
        <!--/.bg-holder-->

        <div class="card-body position-relative">

          <h3>Confirm Choices</h3>
          <p>You have chosen the following payment option</p>
          <p>Number of Entries = {{ request.session.number_of_entries }}</p>
          <p>Number of Portfolios = {{ request.session.number_of_portfolios }}</p>
          <button class="button is-primary" id="submitBtn">Purchase!</button>        </div>
      </div>


{% endblock %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>  <!-- new -->
<script src="{% static 'main.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

{% endblock %}
