{% extends 'base.html' %}
{% load static %}

{% block content %}

{{ request.session.gtag | safe }}

<div class="card overflow-hidden mb-3">

  <!--/.bg-holder-->

  <div class="card-body position-relative">
    {% if messages %}
    <div>

      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      {% endfor %}
    </div>
    {% endif %}

    <h3>Payment Successful</h3>
      <p>Your payment succeeded. You will be redirected to <a href="/entries">entry pages</a> shortly. </p>
    </div>
  </div>

<script type="text/javascript">
  setTimeout(function () {
         window.location.href = "/entries"; //will redirect to your blog page (an ex: blog.html)
      }, 2000);
  </script>

  {% endblock %}
