{% extends 'base.html' %}


{% block content %}



<div class="card">
  <div class="card-body position-relative">
 <h2>Entries</h2>

{% load filter_extras %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>


<form action="/entries/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}



<div class="card-body p-0 overflow-hidden">
  <div class="row g-0">
    {% for form in formset.forms %}

    {% for field in form.visible_fields %}

      {# Include the hidden fields in the form #}
      {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

    <div class="col-12 p-card">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <div class="position-relative h-sm-100">



            {% if form.photo.value.url|length > 0 %}
            <a class="d-block h-100" href="{{ form.photo.value.url }}">
              <img class="img-fluid fit-cover w-sm-100 h-sm-100 rounded-1 absolute-sm-centered" src="{{ form.photo.value.thumbnails.xlarge.url }}" alt="" />
            </a>
            {% else %}
            <a class="d-block h-100" href="#">
              <img class="img-fluid fit-cover w-sm-100 h-sm-100 rounded-1 absolute-sm-centered" src="https://nlpa-website-bucket.s3.amazonaws.com/entries/default-entry.png" alt="" />
            </a>
            {% endif %}




          </div>
        </div>
        <div class="col-sm-7 col-md-8">
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-between flex-column">


{% if form.photo.value.url|length > 0 %}
  <h5 class="mt-3 mt-sm-0">{{forloop.parentloop.counter}}. {{form.filename.value|limit_length_tooltip}}</h5>

    <span>{{form.photo.value.width}} x {{form.photo.value.height}}</span>
    <span>{{form.photo.value.size|filesizeformat}}</span>

{% else %}
  <h5 class="mt-3 mt-sm-0">{{forloop.parentloop.counter}}. [filename]</h5>
    <span>&nbsp;</span>
    <span>&nbsp;</span>

{% endif %}
{% endif %}

<div class="w-50 p-1">
  {{ field.errors.as_ul }}
  {{ field }}
</div>

{% endfor %}


            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit" class="form-control-sm">
  </div>
</div>
</form>
</div>
</div>







{% endblock %}
