{% extends 'base.html' %}

{% block header %}Entries{% endblock %}

{% block content %}

{% load filter_extras %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>


<form action="/entries/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}

    <table class="table">

    {% for form in formset.forms %}


    <tbody>
    <tr>
      <td style="padding:.75 rem 0 0 0">{{forloop.counter}}</td><td>
      {% for field in form.visible_fields %}

        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}

<div class="container">
<div class="row" style="padding-bottom:10px;">

       <div class="col-3">

          <div class="photolink" style="width:200px">
        {% if form.photo.value.url|length > 0 %}
            <a href="{{ form.photo.value.url }}"><img width="180" src="{{ form.photo.value.thumbnails.xlarge.url }}"  /></a>
          </div>

        </div>
        <div class="col-5">

          <div class="photometadata" style="">
            filename: {{form.filename.value|limit_length_tooltip}}<br>
            dimensions: {{form.photo.value.width}} x {{form.photo.value.height}}<br>
            size: {{form.photo.value.size|filesizeformat}}
          </div>

        {% else %}
          <img width="180" src="https://nlpa-website-bucket.s3.amazonaws.com/entries/default-entry.png" />
        </div>

      </div>
      <div class="col-5">
        <div class="photometadata" style="">
          filename: none<br>
          dimensions: <br>
          size:
        </div>
        {% endif %}
       </div>
       <div class="col-2">
        {% endif %}

          {{ field.errors.as_ul }}

          {{ field }}


      {% endfor %}
        </div>
</div>
</div>
</td>
</tr>

    {% endfor %}
</tbody>
</table>
    <input type="submit" value="Submit" class="form-control-sm">
</form>

{% endblock %}
