{% extends 'base.html' %}

{% block content %}

{% load filter_extras %}

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"></script>


<form action="/entries/" method="post" enctype="multipart/form-data" style="display:block;">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="form">
    {% for form in formset.forms %}
      {% if forloop.first %}
      <thead><tr>
        <th>Number</th>
        <th style="width:400px;">Uploaded Photo</th>
        <th>Action</th>
        <th>Category</th>
        <th>Check to Delete</th>
      </tr></thead>
      {% endif %}
      <tr class="{% cycle row1 row2 %}">
        <td>{{forloop.counter}}</td>
      {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}


 <div class="photolink" style="width:100px; height: 100px; float:left">
   {% if form.photo.value.url|length > 0 %}
  <a href="{{ form.photo.value.url }}"><img src="{{ form.photo.value.thumbnails.large.url }}" /></a>
</div>
<div class="photometadata" style="">

  filename: {{form.filename.value|limit_length_tooltip}}

  <br> dimensions: {{form.photo.value.width}} x {{form.photo.value.height}}<br>size: ({{form.photo.value.size|filesizeformat}})</div>
{% else %}
  <img width="80" src="https://nlpa-website-bucket.s3.amazonaws.com/entries/default-entry.png" />
{% endif %}</div>

        {% endif %}
          {{ field.errors.as_ul }}
          {# THIS IS THE MAIN FIELD BLOCK #}

          {{ field }}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>

    <input type="submit" value="Submit">
</form>

{% endblock %}
