{% extends 'base.html' %}

{% block header %}Entries{% endblock %}

{% block content %}

<div class="card mb-3">

            <!--/.bg-holder-->

            <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Frequently Asked Questions</h3>
                  <p class="mb-0">Below you'll find answers to many of the questions we get <br class='d-none.d-sm-block' /> asked about the submission process</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h6> <a href="#!">Where do I got to find the main website with more information about the competition and judges?<span class="fas fa-caret-right ms-2"></span></a></h6>
              <p class="fs--1 mb-0">You can visit our main website which includes lots of extra information about terms and conditions, submissions process, rules and judges, etc. by clicking on this link. <a href="https://naturallandscapeawards.com/">https://naturallandscapeawards.com</a>.</p>
              <hr class="my-3" />
              <h6> <a href="#!">Can I change my photos before the final submission date?<span class="fas fa-caret-right ms-2"></span></a></h6>
              <p class="fs--1 mb-0">You can change your images at any point until the final deadline, at which point the system will be locked and any images in place at that time will considered your submission.</p>
              <hr class="my-3" />
                 <h6> <a href="#!">How do I "Submit" my final image selection?<span class="fas fa-caret-right ms-2"></span></a></h6>
                 <p class="fs--1 mb-0">There is no need to do this. Simply use the update button and we will receive your final choices.</p>





           <!--   <hr class="my-3" />
              <h6> <a href="#!">What forms of payment do you accept?<span class="fas fa-caret-right ms-2"></span></a></h6>
              <p class="fs--1 mb-0">You can purchase Falcon with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.</p> -->
            </div>

          </div>


{% endblock %}
