{% extends 'base.html' %}


{% block content %}
<div class="card mb-3">
  <div class="card-body">
    {% if messages %}
    <div>

      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
      {% endfor %}
    </div>
    {% endif %}


    <div class="row g-0">
      <div class="col-12 mb-3">
        <div class="row justify-content-center justify-content-sm-between">
          <div class="col-sm-auto text-center">
            {% if request.user.is_young_entrant %}
            <h5 class="d-inline-block">Entry Fees</h5><span class="badge badge-soft-info rounded-pill ms-2" id="youth_discount">Youth Discount 70% click to enable</span>
            {% else %}
            <h5 class="d-inline-block">Entry Fees</h5></span>
            {% endif %}
          </div>
          <div class="col-sm-auto d-flex justify-content-center mt-1 mt-sm-0">
                  <h5 class="fw-medium"><span class="fw-small badge badge-soft-success rounded-pill ms-2" id="youth_enabled_tag" style="display:none;">youth discount enabled</span> total = $<span id="total">90</span></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom" id="choice-six">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">6 Images</h3>
            <p class="mt-3">If you just want to try things out, choose this option which lets you enter six images.</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>40
            </h2><span class="btn btn-outline-primary">Choose</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom dark__bg-1000 px-4 px-lg-0" style="background-color: rgba(115, 255, 236, 0.18);" id="choice-twelve">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">12 Images</h3>
            <p class="mt-3">Our normal plan lets you enter twelve images for five dollars an image</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>60
            </h2><span class="btn btn-outline-primary">Choose</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom" id="choice-eighteen">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">18 Images</h3>
            <p class="mt-3">If you want to enter a few extra images, this plan gives you six more for eighteen in total</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>100
            </h2><span class="btn btn-outline-primary">Choose</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">Portfolio</h3>
            <p class="mt-3">You can also enter up to two portfolios of between 6 and 10 images</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>30 <small class="fs--1 text-700">/ portfolio</small>
            </h2>
            <span class="btn btn-outline-primary" id="choice-portfolio-0">0</span> <span class="btn btn-outline-primary" id="choice-portfolio-1">1</span> <span class="btn btn-outline-primary" id="choice-portfolio-2">2</span>
          </div>
        </div>
      </div>
      <form action="/paymentplan/" method="post" id="form-entry">
        <div style="display:none">
          {% csrf_token %}
          {{ form }}
          </div>


      <div class="col-12 text-center">
        <input type="submit" value="Submit" class="btn btn-outline-primary btn-lg mt-3">
      </div>
    </div>
  </div>
</div>







<script>

  var entry_price_dict = {
  '6': 40.0,
  '12': 60.0,
  '18': 100.0
 };
  var portfolio_price_dict = {
 '0': 0.0,
 '1': 30.0,
 '2': 60.0
};

 var discount=1.0;

        $(document).ready(function(){

            $('#youth_discount').unbind('click');
            $('#youth_discount').click( function () {
               $('#id_youth_entry').click();


               var checked = $("#id_youth_entry:checked").length;
               if (checked == 0) {
                  discount=1.0;

                  $('#youth_enabled_tag').hide();
               } else {
                  discount=0.3;

                  $('#youth_enabled_tag').show();
              }

               $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
            });


            $('#choice-six .btn').unbind('click');
            $("#choice-six .btn").click(function () {
                $("#form-entry input:radio").val(["6"]);
                $("#choice-six .btn").removeClass('btn-outline-primary');
                $("#choice-twelve .btn").removeClass('btn-primary');
                $("#choice-twelve .btn").addClass('btn-outline-primary');
                $("#choice-eighteen .btn").removeClass('btn-primary');
                $("#choice-eighteen .btn").addClass('btn-outline-primary');
                $("#choice-six .btn").addClass('btn-primary');
                $("#choice-six .btn").text('selected');
                $("#choice-twelve .btn").text('choose');
                $("#choice-eighteen .btn").text('choose');
                $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
           });
           $('#choice-twelve .btn').unbind('click');
           $("#choice-twelve .btn").click(function () {
               $("#form-entry input:radio").val(["12"]);
               $("#choice-twelve .btn").removeClass('btn-outline-primary');
               $("#choice-six .btn").removeClass('btn-primary');
               $("#choice-six .btn").addClass('btn-outline-primary');
               $("#choice-eighteen .btn").removeClass('btn-primary');
               $("#choice-eighteen .btn").addClass('btn-outline-primary');
               $("#choice-twelve .btn").addClass('btn-primary');
               $("#choice-six .btn").text('choose');
               $("#choice-twelve .btn").text('selected');
               $("#choice-eighteen .btn").text('choose');
               $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
          });
          $('#choice-eighteen .btn').unbind('click');
          $("#choice-eighteen .btn").click(function () {
              $("#form-entry input:radio").val(["18"]);
              $("#choice-eighteen .btn").removeClass('btn-outline-primary');
              $("#choice-six .btn").removeClass('btn-primary');
              $("#choice-six .btn").addClass('btn-outline-primary');
              $("#choice-twelve .btn").removeClass('btn-primary');
              $("#choice-twelve .btn").addClass('btn-outline-primary');
              $("#choice-eighteen .btn").addClass('btn-primary');
              $("#choice-six .btn").text('choose');
              $("#choice-twelve .btn").text('choose');
              $("#choice-eighteen .btn").text('selected');
              $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
         });

         $('#choice-portfolio-0').unbind('click');
         $("#choice-portfolio-0").click(function () {
             $("#id_number_of_portfolios option[value='0']").prop('selected', true);
             $("#choice-portfolio-0").removeClass('btn-outline-primary');
             $("#choice-portfolio-0").addClass('btn-primary');
             $("#choice-portfolio-1").removeClass('btn-primary');
             $("#choice-portfolio-1").addClass('btn-outline-primary');
             $("#choice-portfolio-2").removeClass('btn-primary');
             $("#choice-portfolio-2").addClass('btn-outline-primary');
             $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
        });
        $('#choice-portfolio-1').unbind('click');
        $("#choice-portfolio-1").click(function () {
            $("#id_number_of_portfolios option[value='1']").prop('selected', true);
            $("#choice-portfolio-0").removeClass('btn-primary');
            $("#choice-portfolio-0").addClass('btn-outline-primary');
            $("#choice-portfolio-1").removeClass('btn-outline-primary');
            $("#choice-portfolio-1").addClass('btn-primary');
            $("#choice-portfolio-2").removeClass('btn-primary');
            $("#choice-portfolio-2").addClass('btn-outline-primary');
            $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
       });

       $('#choice-portfolio-2').unbind('click');
       $("#choice-portfolio-2").click(function () {
           $("#id_number_of_portfolios option[value='2']").prop('selected', true);
           $("#choice-portfolio-0").removeClass('btn-primary');
           $("#choice-portfolio-0").addClass('btn-outline-primary');
           $("#choice-portfolio-1").removeClass('btn-primary');
           $("#choice-portfolio-1").addClass('btn-outline-primary');
           $("#choice-portfolio-2").removeClass('btn-outline-primary');
           $("#choice-portfolio-2").addClass('btn-primary');
           $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
      });
    }); // end of document ready


    window.onload=window.onpageshow= function() {
       if ($("#form-entry option:selected").val() == '0') {
         $("#choice-portfolio-0").removeClass('btn-outline-primary');
         $("#choice-portfolio-0").addClass('btn-primary');
         $("#choice-portfolio-1").removeClass('btn-primary');
         $("#choice-portfolio-1").addClass('btn-outline-primary');
         $("#choice-portfolio-2").removeClass('btn-primary');
         $("#choice-portfolio-2").addClass('btn-outline-primary');
       }
       if ($("#form-entry option:selected").val() == '1') {
         $("#choice-portfolio-0").removeClass('btn-primary');
         $("#choice-portfolio-0").addClass('btn-outline-primary');
         $("#choice-portfolio-1").removeClass('btn-outline-primary');
         $("#choice-portfolio-1").addClass('btn-primary');
         $("#choice-portfolio-2").removeClass('btn-primary');
         $("#choice-portfolio-2").addClass('btn-outline-primary');
       }
       if ($("#form-entry option:selected").val() == '2') {
         $("#choice-portfolio-0").removeClass('btn-primary');
         $("#choice-portfolio-0").addClass('btn-outline-primary');
         $("#choice-portfolio-1").removeClass('btn-primary');
         $("#choice-portfolio-1").addClass('btn-outline-primary');
         $("#choice-portfolio-2").removeClass('btn-outline-primary');
         $("#choice-portfolio-2").addClass('btn-primary');
       }
       if ($("#form-entry input:checked").val() == '6') {
         $("#choice-six .btn").removeClass('btn-outline-primary');
         $("#choice-twelve .btn").removeClass('btn-primary');
         $("#choice-twelve .btn").addClass('btn-outline-primary');
         $("#choice-eighteen .btn").removeClass('btn-primary');
         $("#choice-eighteen .btn").addClass('btn-outline-primary');
         $("#choice-six .btn").addClass('btn-primary');
         $("#choice-six .btn").text('selected');
         $("#choice-twelve .btn").text('choose');
         $("#choice-eighteen .btn").text('choose');
       }
       if ($("#form-entry input:checked").val() == '12') {
         $("#choice-twelve .btn").removeClass('btn-outline-primary');
         $("#choice-six .btn").removeClass('btn-primary');
         $("#choice-six .btn").addClass('btn-outline-primary');
         $("#choice-eighteen .btn").removeClass('btn-primary');
         $("#choice-eighteen .btn").addClass('btn-outline-primary');
         $("#choice-twelve .btn").addClass('btn-primary');
         $("#choice-six .btn").text('choose');
         $("#choice-twelve .btn").text('selected');
         $("#choice-eighteen .btn").text('choose');
       }
       if ($("#form-entry input:checked").val() == '18') {
         $("#choice-eighteen .btn").removeClass('btn-outline-primary');
         $("#choice-six .btn").removeClass('btn-primary');
         $("#choice-six .btn").addClass('btn-outline-primary');
         $("#choice-twelve .btn").removeClass('btn-primary');
         $("#choice-twelve .btn").addClass('btn-outline-primary');
         $("#choice-eighteen .btn").addClass('btn-primary');
         $("#choice-six .btn").text('choose');
         $("#choice-twelve .btn").text('choose');
         $("#choice-eighteen .btn").text('selected');
       }

      $("#total").text( (entry_price_dict[$("#form-entry input:checked").val()] + portfolio_price_dict[$("#form-entry option:selected").val()])*discount );
    };
</script>
{% endblock %}
