{% extends 'base.html' %}


{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <div class="row g-0">
      <div class="col-12 mb-3">
        <div class="row justify-content-center justify-content-sm-between">
          <div class="col-sm-auto text-center">
            <h5 class="d-inline-block">Entry Fees</h5><span class="badge badge-soft-success rounded-pill ms-2">Youth Discount 70%</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom" id="choice-six">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">Budget</h3>
            <p class="mt-3">If you just want to try things out, choose this option which lets you enter six images.</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>40
            </h2><span class="btn btn-outline-primary">Choose</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom dark__bg-1000 px-4 px-lg-0" style="background-color: rgba(115, 255, 236, 0.18);" id="choice-twelve">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">Standard</h3>
            <p class="mt-3">Our normal plan lets you enter twelve images for five dollars an image</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>60
            </h2><span class="btn btn-primary">Selected</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom" id="choice-eighteen">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">Extended</h3>
            <p class="mt-3">If you want to enter a few extra images, this plan gives you six more for eighteen in total</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>100
            </h2><span class="btn btn-outline-primary">Choose</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 border-top border-bottom">
        <div class="h-100">
          <div class="text-center p-4">
            <h3 class="fw-normal my-0">Portfolio</h3>
            <p class="mt-3">You can also enter up to two portfolios of between 6 and 10 images</p>
            <h2 class="fw-medium my-4"> <sup class="fw-normal fs-2 me-1">&dollar;</sup>30 <small class="fs--1 text-700">/ portfolio</small>
            </h2>
            <span class="btn btn-outline-primary" id="choice-portfolio-0">0</span> <span class="btn btn-primary" id="choice-portfolio-1">1</span> <span class="btn btn-outline-primary" id="choice-portfolio-2">2</span>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <h5 class="mt-5">All you need to do is set up an account and follow the simple guide.</h5>
        <p class="fs-1">If you want to know more about the competition, have a look at our <a href="#">main website</a> which has lots of extra information.</p>
      </div>
    </div>
  </div>
</div>






<form action="/paymentplan/" method="post" id="form-entry">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<script>
        $(document).ready(function(){
            $('#choice-six .btn').unbind('click');
            $("#choice-six .btn").click(function () {
                $("#form-entry input:radio").val(["6"]);
                $("#choice-six .btn").removeClass('btn-outline-primary');
                $("#choice-twelve .btn").removeClass('btn-primary');
                $("#choice-twelve .btn").addClass('btn-outline-primary');
                $("#choice-eighteen .btn").removeClass('btn-primary');
                $("#choice-eighteen .btn").addClass('btn-outline-primary');
                $("#choice-six .btn").addClass('btn-primary');
                $("#choice-six .btn").text('selected');
                $("#choice-twelve .btn").text('choose');
                $("#choice-eighteen .btn").text('choose');
           });
           $('#choice-twelve .btn').unbind('click');
           $("#choice-twelve .btn").click(function () {
               $("#form-entry input:radio").val(["12"]);
               $("#choice-twelve .btn").removeClass('btn-outline-primary');
               $("#choice-six .btn").removeClass('btn-primary');
               $("#choice-six .btn").addClass('btn-outline-primary');
               $("#choice-eighteen .btn").removeClass('btn-primary');
               $("#choice-eighteen .btn").addClass('btn-outline-primary');
               $("#choice-twelve .btn").addClass('btn-primary');
               $("#choice-six .btn").text('choose');
               $("#choice-twelve .btn").text('selected');
               $("#choice-eighteen .btn").text('choose');
          });
          $('#choice-eighteen .btn').unbind('click');
          $("#choice-eighteen .btn").click(function () {
              $("#form-entry input:radio").val(["18"]);
              $("#choice-eighteen .btn").removeClass('btn-outline-primary');
              $("#choice-six .btn").removeClass('btn-primary');
              $("#choice-six .btn").addClass('btn-outline-primary');
              $("#choice-twelve .btn").removeClass('btn-primary');
              $("#choice-twelve .btn").addClass('btn-outline-primary');
              $("#choice-eighteen .btn").addClass('btn-primary');
              $("#choice-six .btn").text('choose');
              $("#choice-twelve .btn").text('choose');
              $("#choice-eighteen .btn").text('selected');
         });

         $('#choice-portfolio-0').unbind('click');
         $("#choice-portfolio-0").click(function () {
             $("#id_number_of_portfolios option[value='0']").prop('selected', true);
             $("#choice-portfolio-0").removeClass('btn-outline-primary');
             $("#choice-portfolio-0").addClass('btn-primary');
             $("#choice-portfolio-1").removeClass('btn-primary');
             $("#choice-portfolio-1").addClass('btn-outline-primary');
             $("#choice-portfolio-2").removeClass('btn-primary');
             $("#choice-portfolio-2").addClass('btn-outline-primary');

        });
        $('#choice-portfolio-1').unbind('click');
        $("#choice-portfolio-1").click(function () {
            $("#id_number_of_portfolios option[value='1']").prop('selected', true);
            $("#choice-portfolio-0").removeClass('btn-primary');
            $("#choice-portfolio-0").addClass('btn-outline-primary');
            $("#choice-portfolio-1").removeClass('btn-outline-primary');
            $("#choice-portfolio-1").addClass('btn-primary');
            $("#choice-portfolio-2").removeClass('btn-primary');
            $("#choice-portfolio-2").addClass('btn-outline-primary');

       });

       $('#choice-portfolio-2').unbind('click');
       $("#choice-portfolio-2").click(function () {
           $("#id_number_of_portfolios option[value='2']").prop('selected', true);
           $("#choice-portfolio-0").removeClass('btn-primary');
           $("#choice-portfolio-0").addClass('btn-outline-primary');
           $("#choice-portfolio-1").removeClass('btn-primary');
           $("#choice-portfolio-1").addClass('btn-outline-primary');
           $("#choice-portfolio-2").removeClass('btn-outline-primary');
           $("#choice-portfolio-2").addClass('btn-primary');

      });



        });
</script>
{% endblock %}
