{% extends 'base.html' %}

{% block title %}Choose Payment Upgrade - Submissions{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <div class="row g-0">
      <div class="col-12 mb-3">
        <div class="row justify-content-center justify-content-sm-between">
          <div class="col-sm-auto text-center">
            <h5 class="d-inline-block" style="color:#700; font-style: bold;">Entries Closed</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
