{% extends 'base.html' %}

{% block header %}Social Media Tools{% endblock %}

{% block content %}

        <div class="card overflow-hidden mb-3">
          <!--/.bg-holder-->

          <div class="card-body position-relative">



            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                  name: <input type="text" name="name"><br />
                  offset: <input type="text" name="offset"><br />
                  <input type="file" name="upload" accept="image/*">
                  <br>
                  <button class="btn btn-dark my-4" type="submit">Submit</button>
            </form>


            <!--See Image Uploaded-->
             <h2 class="my-4">Processed Image</h2>
             <div class="row">
               {% if file_url %}
               <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
                 <img src="{{ file_url }}" class="img-fluid">
               {% else %}
               {% endif %}
             </div>



          </div>
        </div>
{% endblock %}
